name: Deploy MkDocs to GitHub Pages

on:
  push:
    branches:
      - main  # hoặc 'master' tuỳ repo bạn

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'  # hoặc phiên bản bạn dùng

    - name: Install dependencies
      run: |
        pip install mkdocs mkdocs-material

    - name: Build and Deploy
      run: |
        mkdocs gh-deploy --force